<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/join.css" type="text/css">
  <title>회원가입</title>
</head>
<body>
  <div class="container">
    <div class="joinForm"></div>
    <span class="title">회원가입</span>
    <div class="inputId"></div>
    <div class="inputPwd"></div>
    <div class="inputName"></div>
    <span class="id">ID</span>
    <span class="pwd">PW</span>
    <span class="name">NAME</span>
    <div class="joinButton"></div>
    <span class="join">JOIN</span>
  </div>
</body>
</html>